body {
    background: #F2E3D6;
    width: 100%;
}

#container {
}



#nawigacja {
    left: 0px;
    top: 0px;
    height: 8%;
    position: fixed;
    width: 100%;
    background: #59320A;
}

    #nawigacja ul {
        list-style: none;
        background: rgba(0,0,0,0);
        overflow: hidden;
        color: white;
        padding: 0;
        text-align: right;
        margin: 0;
        transition: 1s;
    }

        #nawigacja ul li {
            display: inline-block;
            padding: 18px;
        }

            #nawigacja ul li a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 1px;
            }


form {
    animation: showingUp 2s;
}

form {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);

}

input {
    opacity: 0.8;
    display: block;
    width: 29vw;
    height: 2vw;
    margin: 5vw auto;
    padding: 0.5vw;
    border: 0;
    border-radius: 1.5vw;
    outline: none;
    font-size: 1.5vw;
    text-align: center;
}

    input[type=submit] {
        box-sizing: content-box;
        cursor: pointer;
        width: 15vw;
        height: 3vw;
        margin: 3vw auto;
        background-color: #59320A;
        color:white;
    }

        input[type=submit]:hover, input:focus, a:hover {
            opacity: 0.9;
        }




@keyframes showingUp {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

h1 {
    animation: showingUp 2s;
    position: absolute;
    left: 42%;
    top:150px;
}






